* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Pretendard;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --blue: #6d6afe;
    --red: #ff5b56;
    --black: #111322;
    --white: #ffffff;
    --gray1: #3e3e43;
    --gray2: #9fa6b2;
    --gray3: #ccd5e3;
    --gray4: #e7effb;
    --gray5: #f0f6ff;

}

html {
    font-size: 62.5%;
}

#main_index {
    margin-top: 9.4rem;
}

/* header */
header {
    width: 100%;
    height: 9.4rem;
    background-color: var(--gray5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header_inner {
    width: 100%;
    max-width: 152.0rem;
    padding: 0 20.0rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_inner h1 {
    width: 13.3rem;
    height: 2.4rem;
    font-size: 2.4rem;
    color: var(--blue);
}

.header_inner h1 img {
    width: 100%;
}

.header_inner a:last-child {
    text-align: center;
    line-height: 5.4rem;
    width: 12.8rem;
    height: 5.4rem;
    font-size: 1.8rem;
    color: var(--gray5);
    border-radius: 0.8rem;
    background: linear-gradient(90deg, var(--blue) 0%, #6ae3fe 100%);
}

header .userdata {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.4rem;
}

header .userdata img {
    border-radius: 20rem;
    width: 2.8rem;
    height: 2.8rem;
}

.shared {
    padding: 9.4rem 0 6.24rem;
    margin-top: 9.4rem;
    text-align: center;
    background-color: var(--gray5);
}

.shared img {
    width: 6rem;
    height: 6rem;
}

.shared p:nth-of-type(1) {
    font-size: 1.6rem;
    margin: 1rem auto 2rem;
}

.shared p:last-child {
    font-size: 4rem;
}

.search {
    max-width: 106rem;
    padding: 0 3.2rem;
    text-align: center;
    margin: 2rem auto;
}

.search .searchInner {
    width: 100%;
    border-radius: 1rem;
    background-color: #f5f5f5;
    display: flex;
    gap: 1rem;
}

.search input {
    width: 100%;
    padding: 1.5rem 1.6rem;
    border-radius: 1rem;
    background-color: #f5f5f5;
}

.search input::placeholder {
    margin-left: 10px;
}

.search button {
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 2rem;
}

.cardBox {
    max-width: 106rem;
    margin: 0 auto 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0 3.2rem;
}

.card {
    width: 100%;
    max-width: 34rem;
    height: 33.4rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
}

.card:hover {
    border: 2px solid var(--blue);
}

.card:hover a .cardImgWrap {
    transition: all 1s;
    transform: scale(1.3);
}

.card .cardImgWrap {
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;

}

.card .nullImg {
    position: absolute;
    width: 13rem;
    opacity: 0.5;
}

.cardText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 2rem 1rem;
    gap: 1rem;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

.cardText .ago {
    font-size: 1.3rem;
}

.cardText .des {
    font-size: 1.6rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.cardText .cardDate {
    font-size: 1.4rem;
}

/* main */
main {
    background-color: var(--gray5);
    overflow: hidden;
    padding: 7rem 0 0;
}

.main_inner {
    position: relative;
    /* top: 7.0rem; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}



.main_inner h2 {
    font-size: 6.4rem;
    font-weight: 700;
    /* line-height: 8.0rem; */
}

.main_inner h2 span {
    background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_inner a {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--gray5);
    width: 31.0rem;
    margin: 4.0rem auto 0;
    line-height: 2.2rem;
    padding: 1.6rem 2.0rem;
    border-radius: 0.8rem;
    background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
}

.main_inner .img {
    margin-top: 5.0rem;
}

.main_inner .img img {
    width: 111.8rem;
    vertical-align: bottom;
}

/* main sec */



.sec {
    /* max-width: 1000rem; */
    margin: 12.0rem auto 5.0rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15.7rem;
}

.sec .sec_text {
    width: 29.1rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

#sec1 .sec_text h2 {
    font-size: 4.8rem;
    font-weight: 700;
}

#sec1 .sec_text h2 span {
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sec1 .sec_text p {
    color: #6B6B6B;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.sec .sec_img img {
    width: 55.0rem;
}



#sec2 .sec_text h2 {
    font-size: 4.8rem;
    font-weight: 700;
}

#sec2 .sec_text h2 span {
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

#sec2 .sec_text p {
    color: #6B6B6B;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
}


#sec3 .sec_text h2 {
    font-size: 4.8rem;
    font-weight: 700;
}

#sec3 .sec_text h2 span {
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-size: 48em; */
    font-weight: 700;
}

#sec3 .sec_text p {
    color: #6B6B6B;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
}


#sec4 .sec_text h2 {
    font-size: 4.8rem;
    font-weight: 700;
}

#sec4 .sec_text h2 span {
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-size: 48em; */
    font-weight: 700;
}

#sec4 .sec_text p {
    color: #6B6B6B;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
}

/* signin,signup page */
#signin {
    background-color: var(--gray5);
}

.login {
    padding: 0 32px;
    max-width: 46.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--black);
}

.login h1 {
    text-align: center;
}

.login h1 a img {
    width: 21.0rem;
    height: 3.8rem;
    margin-bottom: 1.6rem;
}

.login p {
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}

.login p a {
    position: relative;
    top: -0.5rem;
    color: var(--blue);
    text-decoration: underline;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login .sign_form {
    width: 100%;
}

.login .sign_form form .write {
    margin: 3.0rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.login .sign_form form .write .input_warning {
    margin-top: 0.3rem;
    text-align: left;
    color: var(--red);
    font-size: 1.4rem;
}

.login .sign_form form .write label {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    display: block;
}

.login .sign_form form .write input {
    width: 100%;
    padding: 1.8rem 1.5rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--gray3);
}

.login .sign_form form .write input:focus {
    border: 0.1rem solid var(--blue);
}

.login .sign_form .pwd {
    position: relative;
}

.login .sign_form .pwd .eye {
    position: absolute;
    top: 1.8rem;
    right: 1.5rem;
    /* transform: translateY(-50%); */
    cursor: pointer;
    width: 1.6rem;
}

.login .sign_form .pwd .eye_none {
    display: none;
}

.login .sign_form form #submit {
    padding: 1.6rem 2.0rem;
    border-radius: 0.8rem;
    background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 600;
}

.login .sign_social {
    width: 100%;
    padding: 1.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.2rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--gray3);
    background: var(--gray4);
}

.login .sign_social p {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black);
}

.login .sign_social .social {
    display: flex;
    gap: 1.6rem;
}

.login .sign_social .social img {
    width: 4.2rem;
    height: 4.2rem;
}



/* footer */
footer {
    background-color: #111322;
    padding: 3.2rem 10.4rem 6.4rem;
}

footer .foot_inner {
    max-width: 171.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #676767;
    font-size: 1.6rem;
}

footer .foot_inner .foot_mid {
    color: #cfcfcf;
    display: flex;
}

footer .foot_inner .foot_mid a:first-child {
    margin-right: 3.0rem;
}

footer .foot_inner .foot_link {
    display: flex;
    gap: 1.2rem;
    margin-right: 1.2rem;
}


footer .codeit_mobile {
    display: none;
    color: #676767;
    position: absolute;
    bottom: 3.2rem;
    font-size: 1.6rem;
}

.pc_text {
    display: block;
}

body .sec .mobile_text {
    display: none;
}


/* tablet */
@media all and (max-width:1199px) {
    .header_inner {
        padding: 0 3.2rem;
        max-width: 79.9rem;
    }

    .main_inner .img img {
        width: 65.0rem;
    }

    .sec {
        gap: 5.1rem;
    }

    .sec .sec_img img {
        width: 38.0rem;
    }

    .pc_text {
        display: block;
    }

    body .sec .mobile_text {
        display: none;
    }

}

@media all and (max-width:1124px) {
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* mobile */
@media all and (max-width:767px) {
    .header_inner a:last-child {
        width: 8.0rem;
        line-height: 3.7rem;
        height: 3.7rem;
        font-size: 1.4rem;
    }

    main {
        padding: 2.8rem 3.2rem 0;
    }

    .main_inner h2 {
        font-size: 3.2rem;
    }

    .main_inner a {
        width: 20rem;
        margin: 2rem auto 0;
        padding: 1rem 1.6rem;
        font-size: 1.4rem;
    }

    .main_inner .img {
        margin-top: 2rem;

    }

    .main_inner .img img {
        max-width: 100%;
        width: 100%;
    }

    .sec {
        padding: 0 3.2rem;
        flex-direction: column;
        gap: 2rem;
    }

    #sec1 .sec_text h2,
    #sec2 .sec_text h2,
    #sec3 .sec_text h2,
    #sec4 .sec_text h2 {
        font-size: 2.4rem;
    }

    .sec .sec_img img {
        width: 100%;
    }

    .pc_text {
        display: none;
    }

    body .sec .mobile_text {
        display: block;
    }

    .sec .sec_text {
        width: 100%;
    }

    footer {
        padding: 3.2rem 3.2rem 6.4rem;
        position: relative;
    }

    .codeit_pc {
        display: none;
    }

    footer .codeit_mobile {
        display: block;
    }

    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ? */
@media all and (max-width:374px) {}